<!DOCTYPE HTML>

<html>

<head>
	<title>Ming Zhong</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="static/assets/css/main.css" />
	<link rel="apple-touch-icon" sizes="180x180" href="static/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="static/images/favicon/site.webmanifest">
	<script src="https://kit.fontawesome.com/67551bfe14.js" crossorigin="anonymous"></script>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
		<div id="main">
			<div class="inner">

				<!-- Header -->
				<header id="header">
					<a href="/" class="logo">In Thy light shall we see light</a>
					<ul class="icons">
						<li><a href="https://www.linkedin.com/in/stevenoppa/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
						<li><a href="https://github.com/datnerde" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="https://medium.com/@ming.zhong" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
					</ul>
				</header>

				<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h1>Hi, I’m Ming </h1>
							<p>Senior Data Scientist @Circle K</p>
						</header>
						<ul>
							<li><b>3 yoe</b> across retail, marketing and healthcare</li>
							<li>Master degree in statistics from <b>Columbia University</b> </li>
							<li>Aiming to <b>scale analytical solutions</b> for business problems </li>
						</ul>
						<ul class="actions">
							<li><a href="aboutme" class="button big">Learn More</a></li>
						</ul>
					</div>
					<span class="image object">
						<img src="static/images/avatar.jpeg" alt="" />
					</span>
				</section>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Services</h2>
					</header>
					<div class="features">
						<article>
							<span class="icon fa-database fa-flip" style="--fa-animation-duration: 5s;"></span>
							<div class="content">
								<h3>Data Analysis</h3>
								<p>I am specialized in analyzing data. Results, trends and recommendations are clearly presented in reports or tools.</p>
							</div>
						</article>
						<article>
							<span class="icon fa-chart-line fa-flip" style="--fa-animation-duration: 5s;"></span>
							<div class="content">
								<h3>Data Visualization</h3>
								<p>Dashboards show the most recent results in an interactive way. By clicking and drilling, you will examine trends and patterns yourself.</p>
							</div>
						</article>
						<article>
							<span class="icon fa-robot fa-flip" style="--fa-animation-duration: 5s;"></span>
							<div class="content">
								<h3>Machine Learning</h3>
								<p>Get more value from your data with prediction models and machine learning techniques, for example by predicting behavior or targeting the right customer.</p>
							</div>
						</article>
						<article>
							<span class="icon fa-info fa-flip" style="--fa-animation-duration: 5s;"></span>
							<div class="content">
								<h3>Consulting</h3>
								<p>Provide consulting service and metorship to clients.</p>
							</div>
						</article>
					</div>
				</section>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Project Gallery</h2>
					</header>
					<div class="posts">
						<article>
							<a href="https://mingzhong.shinyapps.io/hospital_intelligence/" class="image"><img src="https://images.unsplash.com/photo-1584291527905-f930791fb1ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" style="width: 366px; height: 225px;" alt="" /></a>
							<h3>Health Intelligence Shiny App</h3>
							<p>A hospital recommendation system helps you find the best hosptial for your conditions</p>
							<ul class="actions">
								<li><a href="https://mingzhong.shinyapps.io/hospital_intelligence/" class="button">More</a></li>
							</ul>
						</article>
						<article>
							<a href="https://mingzhong.shinyapps.io/H1BViz/" class="image"><img src="https://imageio.forbes.com/specials-images/imageserve/5f514aee56930497fa2f2f29/Concept-of-H1b-Visa-for-foreign-workers-showing-wooden-letters-with-US-or-United/0x0.jpg?format=jpg&crop=5078,2992,x626,y366,safe&width=960" style="width: 366px; height: 225px;" alt="" /></a>
							<h3>H1B Dashbaord</h3>
							<p>Through this tool, we hope to help international students like us make informed decisions about job applications and about selecting industries/companies with high H-1B approvals.</p>
							<ul class="actions">
								<li><a href="https://mingzhong.shinyapps.io/H1BViz/" class="button">More</a></li>
							</ul>
						</article>
						<article>
							<a href="https://medium.com/@ming.zhong/customer-segmentation-for-arvato-financial-solutions-376ea0e825ec" class="image"><img src="https://miro.medium.com/max/700/0*aizXlnuOuFF1WOqM.png" style="width: 366px; height: 225px;" alt="" /></a>
							<h3>Customer Segmentation Analysis</h3>
							<p>Identify which individuals are most likely to respond to the campaign and become customers of the mail-order company.</p>
							<ul class="actions">
								<li><a href="https://medium.com/@ming.zhong/customer-segmentation-for-arvato-financial-solutions-376ea0e825ec" class="button">More</a></li>
							</ul>
						</article>
						<article>
							<a href="https://medium.com/@ming.zhong/how-to-use-chi-square-test-37d6464b6b29" class="image"><img src="https://images.unsplash.com/photo-1569803903286-eb86d49af323?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=852&q=80" style="width: 366px; height: 225px;" alt="" /></a>
							<h3>Chi-sqaure Test Guide</h3>
							<p>Comparisons of different versions of chi-square tests.</p>
							<ul class="actions">
								<li><a href="https://medium.com/@ming.zhong/how-to-use-chi-square-test-37d6464b6b29" class="button">More</a></li>
							</ul>
						</article>
						<article>
							<a href="https://medium.com/@ming.zhong/a-personal-website-that-shows-medium-posts-automatically-part-i-7d1f5a04fed?source=rss-d6c37e54407d------2" class="image"><img src="https://cdn-images-1.medium.com/max/817/1*oAzk9ZldBR1Cj0cXOYw42g.png" style="width: 366px; height: 225px;" alt=""></a>
							<h3>A personal website that shows Medium posts automatically (Part I)</h3>
							<p>Recently, with my career moving to a next stage as...</p>
							<ul class="actions">
								<li><a href="https://medium.com/@ming.zhong/a-personal-website-that-shows-medium-posts-automatically-part-i-7d1f5a04fed?source=rss-d6c37e54407d------2" class="button">More</a></li>
							</ul>
						</article>
						<article>
							<a href="https://medium.com/@ming.zhong/a-personal-website-that-shows-medium-posts-automatically-part-ii-91f277b492b1?source=rss-d6c37e54407d------2" class="image"><img src="https://cdn-images-1.medium.com/max/1024/0*iJ32BdTcTbM_C0j-" style="width: 366px; height: 225px;" alt=""></a>
							<h3>A personal website that shows Medium posts automatically (Part II)</h3>
							<p>With Heroku stopping their free tier website hosti...</p>
							<ul class="actions">
								<li><a href="https://medium.com/@ming.zhong/a-personal-website-that-shows-medium-posts-automatically-part-ii-91f277b492b1?source=rss-d6c37e54407d------2" class="button">More</a></li>
							</ul>
						</article>
					</div>
				</section>

			</div>
		</div>

		<!-- Sidebar -->
		<div id="sidebar">
			<div class="inner">

				<!-- Menu -->
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="/">Home Page</a></li>
						<li><a href="aboutme">About Me</a></li>
						<li><a href="project">Projects & Blogs</a></li>
					</ul>
				</nav>

				<!-- Section -->
				<section>
					<header class="major">
						<h2>Contact Me</h2>
					</header>
					<ul class="contact">
						<li class="icon solid fa-envelope"><a href="mailto: m.zhong@columbia.edu">m.zhong@columbia.edu</a></li>
						<li class="icon brands fa-linkedin"><a href="https://www.linkedin.com/in/stevenoppa/">stevenoppa</a></li>
						<li class="icon solid fa-home"><a>Somewhere Arizona</a></li>
					</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
					<p class="copyright">&copy; stevenzhong. All rights reserved.</p>
				</footer>

			</div>
		</div>

	</div>

	<!-- Scripts -->
	<script src="static/assets/js/jquery.min.js"></script>
	<script src="static/assets/js/browser.min.js"></script>
	<script src="static/assets/js/breakpoints.min.js"></script>
	<script src="static/assets/js/util.js"></script>
	<script src="static/assets/js/main.js"></script>

</body>

</html>
